<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>647306867239-o6dvqofjun6hrb4kkoa5m5h0ta83ttc5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.647306867239-o6dvqofjun6hrb4kkoa5m5h0ta83ttc5</string>
	<key>API_KEY</key>
	<string>AIzaSyCSjrFZVgZJJCdEReavvAI_Vy1_bntCHhY</string>
	<key>GCM_SENDER_ID</key>
	<string>647306867239</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rajaygms.SportsCard</string>
	<key>PROJECT_ID</key>
	<string>sportscard-15957</string>
	<key>STORAGE_BUCKET</key>
	<string>sportscard-15957.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:647306867239:ios:ab3292e65555c904025402</string>
	<key>DATABASE_URL</key>
	<string>https://sportscard-15957.firebaseio.com</string>
</dict>
</plist>